@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,700&display=swap');

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.container  {
  max-width: 1170px;
  margin: auto;
}

@media (max-width: 1200px) {
  .container {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media (max-width: 576px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  background-image: url("/img/background.jpg");
  margin: 0;
  min-height: 776px;
  font-family: 'Roboto';
}

.is-active {
  background: linear-gradient(110.93deg, #DBC2A7 64.1%, #C4A380 268.93%);
  color: #000 !important; 
}

/* Section register */

.register__logo {
  position: relative;
}

.register__logo__img {
  position: absolute;
  left: 30px;
}

.register__form-flex {
  display: flex;
  justify-content: flex-end;
}

.register__form {
  display: flex;
  flex-direction: column;
  padding: 41px 57px;
  border-radius: 15px;
  background-color: #fff;
}

.register__buttons {
  display: flex;
  justify-content: space-between;
}

.register__form-title {
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  color: #745637;
}

.register__button {
  display: block;
  text-align: center;
  padding: 23px 26px;
  border-radius: 10px;
  background-color: #F8F8F8;
  color: #CDCDCD;
  transition-property: color, background;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

.register__button__entry {
  padding: 23px 60px;
  margin-right: 10px;
}

.register__button:hover {
  background: linear-gradient(110.93deg, #DBC2A7 64.1%, #C4A380 268.93%);
  color: #000 ;  
  transition-property: color, background;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

.register__input {
  display: flex;
  flex-direction: column;
}

.form__input {
  padding-top: 23px;
  padding-bottom: 23px;
  padding-left: 30px;
  margin-top: 15px;
  background: #F8F8F8;
  border-radius: 10px;
  border: none;
}

.form__input::placeholder {
  color: #CDCDCD;
}

.register__form__button {
  padding: 40px 60px;
  margin-top: 10px;
  border: none;
  border-radius: 15px;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 0.18em;
  box-shadow: 0px 3px #745637;
  background: linear-gradient(98.72deg, #DBC2A7 -6.18%, #C4A380 206.55%);
  color: #745637;
}

@media (max-width: 576px) {
  .register__form-flex {
    max-width: 100%;
    justify-content: flex-start;
  }

  .register__form {
    max-width: 100%;
    padding: 41px 40px;
    margin-top: 30px;
  }

  .register__form-title {
    font-size: 21px;
  }

  .register__buttons {
    display: block;
  }

  .register__button__entry {
    margin-right: 0px;
    margin-bottom: 10px;
  }

  .register__form__button {
    padding: 20px 40px;
    font-size: 12px;
  }
}