@font-face {
  font-family: "Muller";
  src: url("/fonts/MullerBold.woff2") format("woff2"),
         url("/fonts/MullerBold.woff") format("woff");
}

@font-face {
font-family: "Muller";
 src: url("/fonts/MullerLight.woff2") format("woff2"),
       url("/fonts/MullerLight.woff") format("woff");
}

@font-face {
font-family: "Muller";
 src: url("/fonts/MullerMedium.woff2") format("woff2"),
      url("/fonts/MullerMedium.woff") format("woff");
}

@font-face {
font-family: "Muller";
 src: url("/fonts/MullerRegular.woff2") format("woff2"),
       url("/fonts/MullerRegular.woff") format("woff");
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muller';
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

button {
  background-color: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
}

input {
  border: 0;
  background-color: transparent;
}

img {
  max-width: 100%;
  object-fit: cover;
}

p, h1,h2,h3 {
  margin: 0;
}

:focus {
  outline: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1110px;
  position: relative;
  margin: 0 auto;
}

@media(max-width: 1024px) {
  .container {
    padding-right: 100px;
    padding-left: 100px;
  }
}


@media(max-width:900px) {
  .container {
    padding-right: 114px;
    padding-left: 114px;
  }
}

@media (max-width: 740px) {
  .container {
    padding-right: 32px;
    padding-left: 32px;
  }
}

section {
  padding-top: 94px;
  padding-bottom: 94px;
}

@media (max-width: 1024px) {
  section {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}

@media (max-width: 586px) {
  section {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.off {
  display: none;
}

/* Header */
/* Header__up */

.header__up {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.header__nav__list {
  display: flex;
  font-size: 20px;
}

.header__list__item:not(:last-child) {
  margin-right: 37.75px;
}

.header__list__item-link {
  padding: 4px 10px;
  color: #121723;
  transition: color .3s ease-in-out;
}

.header__list__item-link:hover {
  color: #6D31EE;
  transition: color .3s ease-in-out;
}

.header__list__item-link:focus {
  color: white;
  background: #AA9DFA;
}


.header__list__item-link:active {
  color: #4F28A5;
}

.header__last {
  display: flex;
  align-items: center;
}

.form-btn__open:hover svg path {
  stroke: #AA9DFA;
  transition: stroke .3s ease-in-out;
}

.form-btn__open:focus svg path {
  stroke: #AA9DFA ;
  transition: stroke .3s ease-in-out;
}

.form-btn__open:active svg path {
  stroke: #4F28A5;
  transition: stroke .3s ease-in-out;
}


.header__ent {
  margin-left: 27px;
  padding: 12px 32.5px;
  border: 2px solid #121723;
  border-radius: 77px;
  color: #121723;
  font-weight: 500;
  font-size: 16px;
  transition: color .3s ease-in-out, background-color .3s ease-in-out;
}

.header__ent:hover {
  color: white;
  background-color: #121723;
  transition: color .3s ease-in-out, background-color .3s ease-in-out;
}

.header__ent:focus {
  background-color: #AA9DFA;
  transition: background-color .3s ease-in-out;
}

.header__ent:active {
  background-color: #4F28A5;
  border: 2px solid #4F28A5;
  color: white;
  transition: background-color .3s ease-in-out;
}

/* Down */

.header__down {
  border-top: 1px solid #E6E8EC;
  border-bottom: 1px solid #E6E8EC;
  padding-top: 10px;
  padding-bottom: 10px;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.header__list_down {
  display: flex;
  align-items: center; 
  font-size: 16px;
}

.header__list__down-item:not(:last-child) {
  margin-right: 32px;
}

.header__list__down-item-link {
  padding: 4px 10px;
  color: #121723;
  transition: color .3s ease-in-out;
}

.header__list__down-item-link:hover {
  color: #6D31EE;
  transition: color .3s ease-in-out;
}

.header__list__down-item-link:focus {
  color: white;
  background: #AA9DFA;
}


.header__list__down-item-link:active {
  color: #4F28A5;
}

.header__list-mus {
  display: flex;
  align-items: center;
}

.header__list-mus-item {
  display: flex;
  align-items: center;
  padding-left: 5px;
  padding-right: 53px;
  border-left: 1px solid #E6E8EC;
  border-right: 1px solid #E6E8EC;
}

.header__list-mus-item__link svg path {
  transition: fill .3s ease-in-out;
}

.header__list-mus-item__link:hover svg path {
  fill: #6D31EE;
  transition: fill .3s ease-in-out;
}

.header__list-mus-item__link:focus  svg path {
  fill: #4F28A5;
  transition: fill .3s ease-in-out;
}

.header__list-mus-item__link:active svg path{
  fill: #4F28A5;
  transition: fill .3s ease-in-out;
}

.header__list-mus-item__info {
  margin-left: 10px;
}

.mus-item__info__text {
  margin-bottom: 5px;
  font-weight: normal;
  font-size: 12px;
  color: #A1A6B4;
}

.mus-item__info__title {
  color: #121723;
}

.header__year {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 60px;
  background: #E6E8EC;
}

.header__year__text {
  padding: 7px 4.5px;
  border-radius: 100px;
  font-weight: normal;
  font-size: 12px;
  color: #A1A6B4;
  background-color: white;
}

.logo {
  display: none;
}

.header__point {
  display: none;
}

.header__burger {
  display: none;
}

.burger-svg-1, .burger-svg-2  {
  display: none;
}

@media (max-width: 1024px) {
  .header__year {
    display: none;
  }

  .header__list__item:not(:last-child) {
    margin-right: 38px;
  }

  .header__list__down-item:not(:last-child) {
    margin-right: 0px;
  }

  .header__list__down-item {
    margin-right: 10px;
  }

  .logo {
    display: block;
  }

  .header__logo-link {
    display: none;
  }

  .logo__up {
    padding-top: 23px;
    padding-bottom: 23px;
    background: #E6E8EC;
  }
}

@media (max-width: 1015px) {

  .burger-svg-1, .burger-svg-2  {
    display: block;
  }

  .burger-svg-2 {
    transform: translateY(-140px);
  }
  
  .header__point {
    display: inline-block;
    margin-bottom: 60px;
  }

  .header__burger {
    display: block;
  }

  .flex__burger {
    display: flex;
    justify-content: space-between;
  }

  .header__nav {
    position: fixed;
    padding: 28px 114px 0px 110px;
    width: 100%;
    transform: translateX(-2000px);
    transition: transform .6s ease-in-out;
    top: 0;
    left: 0;
    background: #E5E5E5;
    z-index: 10;
  }

  .header__nav__list {
    max-width: 250px;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .header__list__item:not(:last-child) {
    margin-right: 0px;
  }

  .header__list__item:not(:last-child) {
    margin-bottom: 64px;
  }

  .header__list-mus {
    display: none;
  }

  .header__down {
    padding-top: 22px;
    padding-bottom: 22px;
  }

  .flex {
    display: block;
  }

  .header__list_down {
    justify-content: space-between;
  }
}

#entry2 {
  display: none;
}

.header__what__link {
  display: none;
}

@media (max-width: 586px) {

  .header__down {
    padding-top: 14.5px;
    padding-bottom: 14.5px;
  }

  .flex__burger {
    display: block;
  }

  .burger-svg-1, .burger-svg-2 {
    display: none;
  }

  .header__nav {
    min-height: 100%;
  }

  #entry {
    display: none;
  }

  #entry2 {
    display: inline-block;
  }

  .header__up__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  #list-5 {
    display: none;
  }

  .header__what__link {
    display: block;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    color: #6D31EE;
  }

  .header__what__link svg {
    transform: translateY(2px);
  }
}

.menu-active {
  transform: translateX(0px);
  transition: transform .6s ease-in-out;
}

/* Hero */

.hero {
  padding-top: 38px;
  padding-bottom: 40px;
}

.hero__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero__title {
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
}

.hero__title span {
  font-style: normal;
  font-weight: bold;
}

.hero__text {
  max-width: 635px;
  margin-top: 15px;
  margin-bottom: 45px;
  line-height: 150%;
  color: #121723;
}

.hero__text a {
  color: #4F28A5;
  transition: border-bottom .3s ease-in-out, color  .3s ease-in-out, background-color .3s ease-in-out;
  border-bottom: 1px solid #fff;
}

.hero__text a:hover {
  border-bottom: 1px solid #6D31EE;
}

.hero__text a:focus {
  color: #FFFFFF;
  background-color: #AA9DFA ;
}

.hero__text a:active {
  color: #4F28A5;
  border-bottom: 1px solid #4F28A5;
}

.hero__link {
  display: inline-block;
  padding: 25px 54px;
  font-weight: 500;
  font-size: 20px;
  color: #FFFFFF;
  border: 2px solid #6D31EE;
  background: #6D31EE;
  border-radius: 40px;
  transition-property: border, background;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

.hero__link:hover {
  border: 2px solid #AA9DFA;
  background: #AA9DFA;
}

.hero__link:focus {
  border: 2px solid #6D31EE;
  background: #AA9DFA;
}

.hero__link:active{
  border: 2px solid #6D31EE;
  background: #6D31EE;
}

@media(max-width: 1024px) {
  .microphone {
    max-width: 255px;
  }

  .hero__text {
    max-width: 535px;
    margin-bottom: 20px;
  }
}

@media (max-width: 900px) {

  .hero {
    padding-top: 90px;
    padding-bottom: 90px;
  }

  .hero__container  {
    display: block;
  }

  .microphone {
    display: none;
  }
}

@media (max-width: 586px) {
  .hero {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .hero__title {
    font-size: 32px;
  }

  .hero__text {
    font-size: 14px;
  }
}

/* Podcast */

.podcast {
  background-color: #E6E8EC;
}

.podcast__title {
  font-weight: normal;
  font-size: 48px;
  color: #121723;
}

.podcast__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.podcast__list-item {
  display: flex;
  background-color: white;
  flex: 0 1 48%;
}

.podcast__list-item:not(:nth-child(1):nth-child(2)) {
  margin-top: 30px;
}

.podcast__list-item__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.podcast__item__content-up {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 24px;
  padding-right: 33px;
  padding-left: 30px;
}

.podcast__item__time {
  margin-bottom: 8px;
  font-weight: normal;
  font-size: 12px;
  color: #121723;
}

.podcast__item__name {
  font-weight: normal;
  font-size: 20px;
  color: #121723;
}

.podcast__item__author {
  font-weight: normal;
  font-size: 16px;
  color: #A1A6B4;
}

.podcast__item__content-down {
  border-top: 2px solid #E6E8EC;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 30px;
}

.podcast__item__conten-down__link {
  font-weight: normal;
  font-size: 16px;
  color: #A1A6B4;

}

.podcast__item__conten-down__link:not(:last-child) {
  margin-right: 30px;
}

.podcast__item__conten-down__link:hover {
  color: #6D31EE;
  transition-property: color;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

.podcast__item__conten-down__link:hover path {
  fill: #6D31EE;
  transition-property: fill;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

.podcast__item__conten-down__link:focus {
  color: #FFFFFF;
  background: #AA9DFA;
  transition-property: color, background;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

.podcast__item__conten-down__link:focus path {
  fill: #FFFFFF;
  transition-property: fill;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

.podcast__item__play:hover circle {
  stroke: #6D31EE;
  transition-property: stroke;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

.podcast__item__play:hover path {
  fill: #6D31EE;
  transition-property: fill;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

.podcast__item__play:active circle {
  stroke: #4F28A5;
  fill: #4F28A5;
  transition-property: stroke, fill;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

.podcast__item__play:active path {
  fill: #FFFFFF;
  transition-property:  fill;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

.podcast__item__play:focus circle {
  stroke: #AA9DFA;
  transition-property: stroke;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

.podcast__item__play:focus path {
  fill: #AA9DFA;
  transition-property:  fill;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

.podcast__link__about {
  display: inline-block;
  margin-top: 60px;
  padding: 25px 54px;
  font-weight: 500;
  font-size: 20px;
  color: #6D31EE;
  text-align: center;
  border: 2px solid #6D31EE;
  border-radius: 40px;
  transition-property: border, background, color;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

.podcast__link__about:hover {
  background: #6D31EE;
  color: #fff;
}

.podcast__link__about:focus {
  border: 2px solid #6D31EE;
  background: #AA9DFA;
  color: #fff;
}

.podcast__link__about:active{
  border: 2px solid #6D31EE;
  background: #6D31EE;
  color: #fff;
}

.center {
  text-align: center;
}

@media (max-width: 900px) {
  .podcast__list-item {
    flex: 0 1 100%;
  } 
}

#list-7 {
  display: flex;
}

#list-8 {
  display: none;
}

@media (max-width: 586px) {
  .podcast__title {
    font-size: 24px;
  }
}


@media (max-width: 446px) {

  #list-7 {
    display: none;
  }

  #list-8 {
    display: block;
  }

  .podcast__list-item {
    display: block;
  }

  .podcast__list-item img {
    height: 72px;
  }

  .podcast__item__content-up {
    padding: 16px;
  }

}

/* broadcast */

.broadcast {
  background-color: #fff;
}

.broadcast__container {
  display: flex;
  justify-content: space-between;
}

.broadcast__title {
  font-weight: normal;
  font-size: 48px;
  color: #121723;
}

.broadcast__left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 60px;
}

.broadcast__author {
  margin-bottom: 12px;
  font-weight: normal;
  font-size: 16px;
  color: #A1A6B4;
}

/* Сделать */

.broadcast__custom__select {
  width: 250px;
}

.choices__inner  {
  position: relative;
  padding: 10.5px 7.5px 3.75px;
  border: 1px solid #E6E8EC;
  border-radius: 10px !important;
  background-color: #E6E8EC;
  color: #121723;
  z-index: 5;
  transition: background-color .3s ease-in-out, border .3s ease-in-out;
}

.choices__inner:hover {
  background: rgba(230, 232, 236, 0.4);
}

.choices:focus {
  border: 1px solid #6D31EE;
  border-radius: 10px !important;
  transition: border .3s ease-in-out;
}

.choices__inner.is-focused:focus {
  border: 1px solid #4F28A5;
}

.choices__list--dropdown {
  transform: translateY(-5px)
}

.is-open .choices__list--dropdown {
  border-color: #F2F2F2;
  border-radius: 10px;
}

.choices__item--choice {
  border-bottom: 2px solid #F2F2F2;
}

.choices__item:hover {
  color: #121723;
  transition: color .3s ease-in-out;
}

.choices__item:focus {
  color: #121723;
  background-color: #AA9DFA;
}

.choices__placeholder:hover {
  opacity: 1;
  transition: opacity.3s ease-in-out;
}

.choices[data-type*=select-one]:after {
  content: '';
  top: 50%;
  right: 10px;
  width: 13px;
  height: 8px;
  border-style: none;
  background-image: url('/img/strel.svg');
  background-repeat: no-repeat;
  transition-property: transform, background-image;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
  z-index: 6;
}

.choices[data-type*=select-one].is-open:after {
  width: 13px;
  height: 8px;
  margin-top: -2.5px;
  transform: rotate(180deg);
  top: 50%;
}


/* Сделать */

.broadcast__link {
  display: inline-block;
  padding: 4px 28px;
  margin-top: 24px;
  margin-bottom: 12px;
  font-weight: 500;
  font-size: 16px;
  color: #121723;
  border: 2px solid #121723;
  border-radius: 77px;
  transition: color .3s ease-in-out, stroke .3s ease-in-out, background-color .3s ease-in-out;
}

.broadcast__link:hover {
  color: #FFFFFF;
  background-color: #121723;
}

.broadcast__link:hover svg path {
  stroke: #FFFFFF;
}

.broadcast__link:focus {
  color: #121723;
  background-color: #AA9DFA;
}

.broadcast__link:focus svg path {
  stroke: #121723;
}

.broadcast__link:active {
  color: #FFFFFF;
  background-color: #4F28A5;
  border: 2px solid #4F28A5;
}

.broadcast__link:active svg path {
  stroke: #FFFFFF;
}

.broadcast__text {
  max-width: 255px;
  font-weight: normal;
  font-size: 16px;
  color: #A1A6B4;
}

.broadcast__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.broadcast__list__item {
  border: 1px solid #E6E8EC;
}

.broadcast__list__item a {
  display: block;
}

.broadcast__list__item__link{
  max-width: 118px;
}

.broadcast__list__item img {
  opacity: 1;
  transition: opacity .3s ease-in-out;
}

.broadcast__list__item:hover img{
  opacity: 0.7;
  transition: opacity .3s ease-in-out;
}

.broadcast__list__item:hover .broadcast__list__item__link {
  color: #6D31EE;
  transition: color .3s ease-in-out;
}

.broadcast__list__item:hover .broadcast__list__item__link path{
  fill: #6D31EE;
  transition: fill .3s ease-in-out;
}

.broadcast__list__item a:focus {
  padding: 7px;
  border: 1px solid #6D31EE;
  transition: border .3s ease-in-out;
}

.broadcast__list__item a:focus .broadcast__list__item__link {
  color: #fff;
  background-color: #AA9DFA;
  transition: color .3s ease-in-out;
}

.broadcast__list__item a:focus .broadcast__list__item__link path{
  fill: #fff;
  transition: fill .3s ease-in-out;
}

.broadcast__list__item:active .broadcast__list__item__link {
  color: #6D31EE;
  transition: color .3s ease-in-out;
}

.broadcast__list__item:active .broadcast__list__item__link path{
  fill: #6D31EE;
  transition: fill .3s ease-in-out;
}



.broadcast__list__item:nth-child(-n+3) {
  margin-bottom: 30px;
}

.broadcast__info {
  padding: 20px 0px 20px 16px;
}

.broadcast__list__item__about {
  font-weight: 500;
  font-size: 20px;
  color: #121723;
}

.broadcast__list__item__prem {
  margin-bottom: 20px;
  font-weight: normal;
  font-size: 12px;
  color: #A1A6B4;
}

.broadcast__list__item__link {
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  color: #121723;
}

@media (max-width: 1024px) {
  .broadcast__list__item:nth-child(-n+3) {
    margin-bottom: 0px;
  }

  .broadcast__list__item:nth-child(-n+4) {
    margin-bottom: 30px;
  }


  .custom__select {
    width: 100%;
  }

  .broadcast__left {
    align-self: flex-start;
  }

  .broadcast__left__down {
    margin-top: 227px;
  }
}

#list-2 {
  display: none;
}

@media (max-width: 1001px) {
  #list-1 {
    display: none;
  }

  #list-2 {
    display: flex;
    margin-top: 47px;
    margin-bottom: 61px;
  }

  .broadcast__left__down {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border-top: 1px solid #A1A6B4;
    margin-top: 0px;
  }

  .custom__select {
    width: 50%;
  }

  .broadcast__left {
    margin-right: 0px;
  }
}

@media (max-width: 586px) {

  .broadcast__title {
    font-size: 24px;
  }

  .custom__select {
    width: 100%;
  }

  .broadcast__list__item {
    max-width: 200px;
  }

  .broadcast__info {
    padding: 10px;
  }

  .broadcast__list__item__about {
    font-size: 12px;
  }

  .broadcast__list__item__prem {
    font-size: 9px;
  }

  .broadcast__list__item__link {
    font-size: 12px;
  }
}

@media (max-width: 476px) {

  .broadcast__list__item {
    max-width: 113px;
    min-height: 149px;
  }

  .broadcast__list__item a {
    display: flex;
    flex-direction: column;
  }

  .broadcast__list__item:nth-child(-n+4) {
    margin-bottom: 0px;
  }

  .broadcast__list__item a:focus {
    padding: 0;
  }

  .broadcast__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 85px;
    padding-bottom: 10px;
  }

  .broadcast__list__item__prem {
    transform: translateY(-8px);
    margin-bottom: 0px;
  }

  .broadcast__list__item{
    margin-bottom: 30px !important;
  }

  .broadcast__left__down {
    padding: 0px;
    padding-top: 30px;
    align-items: initial;
  }

  .flex1 {
    display: flex;
    flex-direction: column-reverse;
    margin-left: 13px;
  }

  .broadcast__text {
    font-size: 14px;
  }

  .broadcast__link {
    width: 75%;
    margin-top: 7px;
    margin-bottom: 0px;
  }
}

/* .is-active {
  color: #4F28A5;
  fill: #4F28A5;
} */

/* guest */

.guest {
  background-color: #121723;
}

.guest__title {
  margin-bottom: 12px;
  font-weight: normal;
  font-size: 48px;
  color: #FFFFFF;
}

.quest__text {
  font-weight: bold;
  font-size: 20px;
  color: #A1A6B4;
  line-height: 150%;
} 

.guest__info {
  max-width: 825px;
  margin-bottom: 50px;
  font-weight: normal;
  font-size: 20px;
  color: #A1A6B4;
  line-height: 160%;
}

.guest__variant {
  display: flex;
  justify-content: space-between;
}

.guest__list {
  flex: 0 1 60%;
}

.guest__list__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 34px;
  padding-bottom: 34px;
  border-bottom: 1px solid #AA9DFA;
  border-top: 1px solid #AA9DFA;
  font-weight: 500;
  font-size: 20px;
  color: #FFFFFF;
  transition: color .3s ease-in-out;
}

.guest__list__link:hover {
  color: #AA9DFA;
  transition: color .3s ease-in-out;
}

.guest__list__link:hover svg circle, .guest__list__link:hover svg path{
  stroke: #AA9DFA;
  transition: stroke .3s ease-in-out;
}

.guest__list__link:focus {
  background: rgba(170, 157, 250, 0.3);
}

.guest__list__link:active {
  color: #AA9DFA;
  transition: color .3s ease-in-out;
}

.guest__list__link:active  svg path {
  stroke: #fff;
  transition: stroke .3s ease-in-out;
}

.guest__list__link:active  svg circle{
  fill: #AA9DFA;
  stroke: #AA9DFA;
  transition: stroke .3s ease-in-out, fill .3s ease-in-out;
}

.ui-state-active svg {
  transform: rotate(180deg);
  transition: transform .3s ease-in-out;
}

.ui-accordion-header-icon {
  display: none;
}

.guest__list__item__human {
  display: block;
  margin-bottom: 16px;
  font-family: 'Muller'; 
  font-weight: normal;
  font-size: 16px;
  color: #FFFFFF;
  transition: color .3s ease-in-out;
}

.guest__list__item__human:hover {
  color: #6D31EE;
  transition: color .3s ease-in-out;
}

.guest__list__item__human:focus {
  color:  #FFFFFF;  
  background: #AA9DFA;
  transition: color .3s ease-in-out, background .3s ease-in-out;
}


.guest__list__item-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 30px;
  padding-right: 30px;
}

.guest__social {
  display: flex;
  margin-top: 14px;
  margin-bottom: 14px;
}

.guest__social__list-link:hover svg path {
  fill: #6D31EE;
  transition: fill .3s ease-in-out;
}

.guest__social__list-link:focus svg path {
  fill: #AA9DFA;
  transition: fill .3s ease-in-out;
}

.guest__social__list-link:active svg path {
  fill: #4F28A5;
  transition: fill .3s ease-in-out;
}

.guest__social__list:not(:last-child) {
  margin-right: 34px;
}

.guest__who__title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  color: #FFFFFF;
}

.guest__who__info {
  max-width: 350px;
  font-weight: normal;
  font-size: 16px;
  color: #A1A6B4;
  line-height: 180%;
}

.guest__who__link {
  display: inline-block;
  margin-top: 30px;
  padding: 12px 19.5px;
  border: 2px solid #AA9DFA;
  border-radius: 77px;
  font-weight: 500;
  font-size: 16px;
  color: #AA9DFA;
  transition: background .3s ease-in-out, color .3s ease-in-out;
}

.guest__who__link:hover {
  background: #AA9DFA;
  color: #fff;
  transition: background .3s ease-in-out, color .3s ease-in-out;
}

.guest__who__link:focus {
  background: #6D31EE;
  color: #fff;
  transition: background .3s ease-in-out, color .3s ease-in-out;
}

.guest__who__link:active {
  background: #4F28A5;
  color: #fff;
  transition: background .3s ease-in-out, color .3s ease-in-out;
}

.active-s {
  color: #AA9DFA;
}

@media (max-width: 1024px) {
  .guest__info {
    max-width: 536px;
  }

  .guest__who {
    max-width: 255px;
  }

  .block4 {
    display: flex;
    justify-content: space-between;
    flex: 0 1 95%;
  }
}

@media (max-width: 900px) {
  .guest__variant {
    display: block;
  }

  .guest__who {
    margin-top: 50px;
    max-width: none;
  }

  .guest__who__info {
    max-width: none;
  }

  .block4 {
    display: block;
    flex: 0 1 100%;
  }
}

@media (max-width: 586px) {
  .guest__title {
    font-size: 24px;
  }

  .quest__text {
    font-size: 14px;
  }

  .guest__info {
    font-size: 14px;
  }
}

/* Music */

.music__container {
  display: flex;
}

.music__left {
  flex: 1 0 30%;
}

.music__title {
  margin-bottom: 12px;
  font-weight: normal;
  font-size: 48px;
  color: #121723;
}

.music__genre {
  font-weight: normal;
  font-size: 16px;
  color: #A1A6B4;
}

.music__genre__list {
  margin-top: 10px;
  padding-bottom: 35px;
}

.music__cont {
  border-top: 2px solid #D2D5DD;
}

.custom-radio {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.custom-radio+label:hover .custom-radio+label::before  {
  border: 2px solid #6D31EE;
}

.custom-radio+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  font-weight: normal;
  font-size: 20px;
  color: #121723;
}

.custom-radio+label::before {
  content: '';
  display: inline-block;
  width: 22px;
  height: 22px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 2px solid #A1A6B4;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 0.3em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.custom-radio:checked+label::before {
  width: 11px;
  height: 11px;
  border: 10px solid #6D31EE;
  background-color: #fff;
}

.music__genre__list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.custom-radio+label:hover .custom-radio+label::before {
  border: 2px solid #6D31EE;
}

.music__genre__list-item:not(:first-child) {
  margin-top: 26px;
}

.music__info {
  margin-top: 30px;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #A1A6B4;;
}

.music__copyright {
  font-style: italic;
  font-weight: 300;
  font-size: 16px;
  color: #A1A6B4;
}

.music__old {
  display: inline-block;
  margin-top: 6px;
  padding: 7px 4.5px;
  font-weight: normal;
  font-size: 12px;
  color: #A1A6B4;
  border: 1px solid #A1A6B4;
  border-radius: 100px;
}

.music__artist__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 30px;
}

.music__genre__list .block1 {
  margin-bottom: 26px;
}

.music__artist__list-item {
  position: relative;
  margin-bottom: 30px;
}

.music__artist__list-item__hover {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 162px;
  background-color: #121723;
  opacity: 0;
  transition: opacity .3s ease-in-out,  background-color .3s ease-in-out;
}

.music__artist__list-item a:hover .music__artist__list-item__hover {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #121723;
  opacity: 0.8;
  transition: opacity .3s ease-in-out;
}

.music__artist__list-item a:focus .music__artist__list-item__hover {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #121723;
  opacity: 0.8;
  transition: opacity .3s ease-in-out;
}

.music__artist__list-item a:active .music__artist__list-item__hover {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #121723;
  opacity: 0.8;
  transition: opacity .3s ease-in-out;
}

.music__artist__list-item a:hover .music__artist__list-item__info {
  background-color: #6D31EE;
  transition: background-color .3s ease-in-out;
}

.music__artist__list-item a:hover .artist__name {
  color: #fff;
  transition: color .3s ease-in-out;
}

.music__artist__list-item a:hover .artist__musics {
  color: #fff;
  transition: color .3s ease-in-out;
}

.music__artist__list-item a:focus .music__artist__list-item__info {
  background-color: #AA9DFA;
  transition: background-color .3s ease-in-out;
}

.music__artist__list-item a:focus .artist__musics {
  color: #121723;
  transition: color .3s ease-in-out;
}

.music__artist__list-item a:active .music__artist__list-item__info {
  background-color: #4F28A5;
  transition: background-color .3s ease-in-out;
}

.music__artist__list-item a:active .artist__name {
  color: #fff;
  transition: color .3s ease-in-out;
}

.music__artist__list-item a:active .artist__musics {
  color: #fff;
  transition: color .3s ease-in-out;
}

.music__artist__list-item:not(:nth-last-col) {
  margin-bottom: 30px;
}

.country {
  position: absolute;
  right: 0;
  border: 4px solid #121723;
}

.music__artist__list-item__info {
  border-left: 1px solid #E6E8EC;
  border-right: 1px solid #E6E8EC;
  border-bottom: 1px solid #E6E8EC;
  padding: 16px 19px 16px 16px;
  transform: translateY(-3px);
}

.artist__name {
  font-size: 16px;
  line-height: 16px;
  color: #121723;
}

.artist__musics {
  font-weight: normal;
  font-size: 12px;
  color: #A1A6B4;
}

#list-4 {
  display: none;
}

@media (max-width: 1024px) {

  #list-4 {
    display: flex;
  }

  #list-3 {
    display: none;
  }

  .music__genre__list {
    display: flex;
    flex-wrap: wrap;
  }

  .music__genre__list-item {
    flex: 0 1 50%;
  }

  .music__genre__list .block1 {
    margin-bottom: 0px;
  }

  .music__artist__list {
    margin-left: 0px;
  }

  .block1 .music__genre__list-item {
    margin-right: 37px;
  }

  .music__artist__list-item {
    min-width: 255px;
  }

  .music__artist__list-item a:hover .music__artist__list-item__hover {
    width: 45%;
    height: 110px;
    transform: translateY(-2px);
  }

  .music__artist__list-item__hover {
    width: 45%;
    height: 110px;
    transform: translateY(-2px);
  }
  
  .music__artist__list-item a:active .music__artist__list-item__hover {
    width: 45%;
    height: 110px;
    transform: translateY(-2px);
  }
  
  .music__artist__list-item a:focus .music__artist__list-item__hover {
    width: 45%;
    height: 110px;
    transform: translateY(-2px);
  }

  .music__artist__list-item a {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .music__artist__list-item__img img:not(:first-child) {
    max-width: 112px;
    min-height: 100px;
  }

  .music__artist__list-item__info {
    min-width: 142px;
  }

  .music__artist__list-item__info {
    border-left: none;
    border-top: 1px solid #E6E8EC;
    padding: 38px 0px 45px 10px;
  }

  .country {
    left: 0;
  }
}

#list-9-1 {
  display: none;
}

.music__genre__list-swiper {
  display: none;
}

@media (max-width: 586px) {

  .music__genre__list-swiper {
    display: flex;
  }

  .swiper {
    width: calc(100vw - (100vw - 190px) / 2);
    height: 35px;
    margin-top: 6px;
    overflow: hidden;
    margin-right: initial;
    margin-left: initial;
  }

  .swiper-slide {
    width: 113px;
    margin-right: 15px;
  }

  .music__genre__list-swiper__item {
    display: block;
    text-align: center;
    color: #6D31EE;
    padding: 9.5px 5px 9.5px 5px;
    border: 2px solid #6D31EE;
    border-radius: 77px;
    cursor: pointer;
  }

  .music__genre__list-swiper__item:active {
    color: #fff;
    background-color: #6D31EE;
  }

  .music__genre__list-swiper__item:focus {
    color: #fff;
    background-color: #6D31EE;
  }

  #list-9 {
    display: none;
  }

  #list-9-1 {
    display: flex;
  }

  .music__artist__list-item a:hover .music__artist__list-item__hover {
    width: 100%;
    height: 115px;
  }

  .music__artist__list-item a:active .music__artist__list-item__hover {
    width: 100%;
    height: 115px;
  }
  
  .music__artist__list-item a:focus .music__artist__list-item__hover {
    width: 100%;
    height: 115px;
  }

  .music__artist__list-item a {
    display: block;
  }

  .music__artist__list {
    margin-top: 30px;
  }

  .music__artist__list-item {
    min-width: initial;
  }

  .music__artist__list-item__info {
    border-left: 1px solid #E6E8EC;
    border-top: none;
    padding: 10px 8px 10px 10px;
    min-width: initial;
  }

  .artist__name {
    font-size: 12px;
  }

  .artist__musics {
    font-size: 9px;
  }

  .music__info {
    font-size: 12px;
  }

  .music__copyright {
    font-size: 12px;
  }
}

/* Buy */

.buy {
  background: #292E39;
}

.buy__container {
  display: flex;
  justify-content: space-between;
}

.buy__content {
  margin-left: 30px;
}

.buy__title {
  margin-bottom: 19px;
  font-weight: normal;
  font-size: 48px;
  color: #F0D288;
}

.buy__content__div {
  background-image: url("/img/vector-1.svg");
  background-repeat: no-repeat;
}

.buy__text {
  max-width: 445px;
  padding-top: 19px;
  margin-bottom: 12px;
  font-weight: normal;
  font-size: 16px;
  color: #FFFFFF;
  line-height: 180%;
}

.buy__info {
  max-width: 445px;
  font-weight: normal;
  font-size: 16px;
  line-height: 180%;
  color: #FFFFFF;
}

.buy__price {
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 30px;
  color: #FFFFFF;
}

.buy__link {
  display: flex;
  align-items: center;
  max-width: 310px;
  padding: 25px 14px;
  border: 2px solid #F0D288;
  border-radius: 100px;
  font-weight: 500;
  font-size: 20px;
  color: #F0D288;
  transition: color .3s ease-in-out, background .3s ease-in-out, border .3s ease-in-out;
}

.buy__link:hover {
  color: black;
  background: #F0D288;
  transition: color .3s ease-in-out, background .3s ease-in-out;
}

.buy__link:hover svg path:first-child {
  fill: black;
  transition: fill .3s ease-in-out;
}

.buy__link:hover svg path:last-child {
  fill: #F0D288;
  transition: fill .3s ease-in-out;
}

.buy__link:focus {
  color: black;
  background: #BB973E;
  transition: color .3s ease-in-out, background .3s ease-in-out;
}

.buy__link:active {
  color: black;
  background: #BB973E;
  border: 2px solid #BB973E;
  transition: color .3s ease-in-out, background .3s ease-in-out, border .3s ease-in-out;
}

.buy__link:active svg path:first-child {
  fill: black;
  transition: fill .3s ease-in-out;
}

.buy__link:active svg path:last-child {
  fill: #BB973E;
  transition: fill .3s ease-in-out;
}


.buy__link svg {
  margin-right: 7.94px;
}

@media (max-width: 1024px) {

  .buy__container {
    align-items: center;
  }

  .buy__img {
    max-width: 397px;
    height: 349px;
  }
}

@media (max-width: 900px) {
  .buy__container {
    display: block;
  }

  .buy__img {
    max-width: 100%;
    height: initial;
  }

  .buy__content {
    margin-top: 50px;
  }

  .buy__content {
    margin-left: 0px;
  }

  .buy__text {
    max-width: none;
  }

  .buy__info {
    max-width: none;
  }
}

@media (max-width: 586px) {
  .buy__title {
    font-size: 24px;
  }

  .buy__link {
    padding: 17px 0px 17px 16px;
    font-size: 14px;
  }

}

@media (max-width: 320px) {

  .buy__text {
    font-size: 14px;
  }

  .buy__info {
    font-size: 14px;
  }
}

/* About */

.about {
  background: #121723;
}

.about__up {
  background-image: url("/img/frame-about.svg");
  background-repeat: no-repeat;
  background-position: right;
}

.about__title {
  margin-bottom: 12px;
  font-weight: normal;
  font-size: 48px;
  color: #FFFFFF;
}

.about__text {
  font-weight: bold;
  font-size: 20px;
  color: #A1A6B4;
}

.about__info {
  max-width: 634px;
  font-weight: normal;
  font-size: 20px;
  line-height: 160%;
  color: #A1A6B4;
}

.about__down {
  margin-top: 30px;
}

.about__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.musicant__img {
  max-width: 255px;
  min-height: 255px;
}

.about__list-item__info {
  margin-top: 30px;
}

.about__item__info-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #FFFFFF;
}

.about__item__info-info {
  max-width: 255px;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #A1A6B4;
}

.about__form {
  margin-top: 30px;
}

.js-validate-error-label {
  position: absolute;
  margin-left: 25px;
  font-family: 'Muller';
  font-size: 14px;
  transform: translateY(-70px);
}

.about__form__textarea {
  width: 75%;
  height: 150px;
  padding-top: 30px;
  padding-left: 32px;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  border-radius: 30px;
  resize: none;
  font-weight: normal;
  font-size: 20px;
  font-family: 'Muller';
  color: #fff;
  transition: background .3s ease-in-out;
}

.about__form__textarea:hover {
  background: rgba(230, 232, 236, 0.1);
  transition: background .3s ease-in-out;
}

.about__form__item:hover {
  background: rgba(230, 232, 236, 0.1);
  transition: background .3s ease-in-out;
}

.about__form__textarea:focus {
  border: 1px solid #A1A6B4;
  background: rgba(230, 232, 236, 0.1);
  transition: background .3s ease-in-out;
}

.about__form__item:focus {
  border: 1px solid #A1A6B4;
  background: rgba(230, 232, 236, 0.1);
  transition: background .3s ease-in-out;
}

.inputs {
  margin-top: 30px;
}

.about__form__item {
  position: relative;
  width: 36%;
  padding-top: 25px;
  padding-bottom: 32px;
  padding-left: 25px;
  border: 1px solid #FFFFFF;
  border-radius: 30px;
  font-weight: normal;
  font-size: 20px;
  font-family: 'Muller';
  color: #fff;
  transition: background .3s ease-in-out;
}

.about__form__item:not(:last-child) {
  margin-right: 30px;
}

.about__form__button {
  margin-top: 30px;
}

.about__form__button__send {
  display: inline-block;
  margin-bottom: 33px;
  font-weight: 500;
  font-size: 20px;
  padding: 25px 54px;
  font-family: 'Muller';
  background: #6D31EE;
  border-radius: 40px;
  color: white;
  transition: background .3s ease-in-out;
}

.about__form__button__send:hover {
  background: #AA9DFA;
}

.about__form__button__send:focus {
  background: #AA9DFA;
}

.about__form__button__send:active{
  background: #6D31EE;
}


.about__form__item__text {
  font-weight: 500;
  font-size: 12px;
  color: #FFFFFF;
}

.about__form__checkbox {  
  position: absolute;
  width: 14px;
  height: 14px;
  margin: 0;
  margin-right: 4px;
  opacity: 0;
  transform: translateY(51px)  translateX(1px);
}

.about__form__checkbox+label::before {
  content: ' ';
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 4px;
  border: 1px solid #CACACA;
  opacity: 100%;
}

.about__form__checkbox:checked+label::before {
  background-image: url('/img/checked.svg');
  background-repeat: no-repeat;
  background-position: center;
  color: #97EE3F;
}


@media (max-width: 1024px) {

  .about__up {
    background-image: none;
  }

  .musicant__img {
    max-width: 397px;
  }

  .about__svg__del {
    display: none;
  }

  .about__right {
    display: flex;
    align-items: end;
  }

  .about__list-item {
    margin-bottom: 30px;
  }


  .about__item__info-info {
    max-width: none;
  } 


  .about__form__item {
    width: 47.5%;
  }

  .about__form__textarea {
    width: 100%;
  }
}

@media (max-width: 995px) {
  .musicant__img {
    max-width: 255px;
  }
}

@media (max-width: 900px) {

  .about__info {
    margin-bottom: 30px;
  }

  .about__list-item {
    max-width: 255px;
  }

  .about__form__item {
    width: 100%;
  }

  .about__form__item:not(:last-child) {
    margin-right: 0px;
    margin-bottom: 30px;
  }

  
  .js-validate-error-label {
    transform: translateY(-100px);
  }
}

@media (max-width: 586px) {

  .about__title {
    font-size: 24px;
  }

  .about__list-item {
    max-width: 180px;
  }

  .about__svg__2 {
    display: none;
  }

  .about__info {
    margin-bottom: 0px;
  }

  .musicant__img {
    max-width: 180px;
    min-height: 180px;
  }
}

@media (max-width: 426px) {
  .musicant__img {
    max-width: 113px;
    min-height: 113px;
  }

  .about__list-item {
    max-width: 113px;
  }

  .about__item__info-name {
    font-size: 14px;
  }

  .about__item__info-info {
    font-size: 12px;
  }
}

@media (max-width: 320px) {

  .about__text {
    font-size: 14px;
  }

  .about__info {
    font-size: 14px;
  }

  .about__list-item {
    max-width: 113px;
  }

  .about__list-item__info {
    margin-top: 12px;
  }

  .about__list-item img {
    height: 113px;
  }

  .about__item__info-name {
    font-size: 15px;
  }

  .about__item__info-info {
    font-size: 12px;
    line-height: 16px;
  }

  .about__form__item__text {
    font-size: 9px;
  }

}


/* Footer */

.footer {
  background: #292E39;
}

.footer__up {
  display: flex;
  justify-content: space-between;
  padding-top: 94px;
  padding-bottom: 94px;
}

.footer__social {
  display: flex;
  align-items: center;
  margin-top: 22px;
}

.footer__social__item:not(:last-child) {
  margin-right: 25px;
}

.footer__social__item a svg path{
  transition: fill .3s ease-in-out;
}

.footer__social__item a:hover svg path {
  fill: #6D31EE;
}

.footer__social__item a:focus svg path {
  fill: #AA9DFA;
}

.footer__social__item a:active svg path {
  fill: #4F28A5;
}

.footer__right__list {
  display: flex;
  flex-wrap: wrap;
}

.footer__right__list-item {
  display: flex;
  flex-direction: column;
}

.footer__right__list-item:not(:last-child) {
  margin-right: 109px;
}

.footer__link {
  font-weight: normal;
  color: #FFFFFF;
  font-size: 16px;
  transition: color .3s ease-in-out, background .3s ease-in-out;
}

.footer__link:hover {
  color: #6D31EE;
}

.footer__link:focus {
  color: #fff;
  background: #AA9DFA;
}

.footer__link:active {
  color: #4F28A5;
}

.footer__link:not(:last-child) {
  margin-bottom: 20px;
}

.footer__down {
  background-image: url("/img/footer-vector.svg");
  background-repeat: no-repeat;
}

.footer__down__info {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 10px;
  font-weight: normal;
  font-size: 16px;
  color: #A1A6B4;
}

@media (max-width: 900px) {
  .footer__up {
    flex-direction: column;
    align-items: center;
  }

  .footer__left {
    margin-bottom: 83px;
  }
}

@media (max-width: 320px ) {
  .footer__up {
    padding-top: 54px;
    padding-bottom: 10px;
  }

  .footer__right {
    display: none;
  }


  .footer__down__info {
    font-size: 12px;
  } 
}